@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

#content {
  width: 70ch;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  background: #131315;
  color: #ffffff;
  font-family: "Open Sans", serif;
}

.inline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.margin-01 {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

nav {
  background: #333333;
  border-radius: 1em;
}

a {
  color: #CCCCCC;
  text-decoration: none;
}

h1 {
  text-align: center;
}
